datasource:
  dialect: {{ gravitino_database_config['gravitino_database_type'] }}
  username: {{ gravitino_database_config['gravitino_database_username'] }}
  password: {{ gravitino_database_config['gravitino_database_password'] }}
  url: {{ gravitino_database_config['gravitino_database_url'] }}
