server:
  port: {{ dinky_server_port }}

spring:
  application:
    name: Dinky
  profiles:
    active: {{ dinky_database_config['dinky_database_type'] }}
    include: flyway, jmx
  mvc:
    pathmatch:
      matching-strategy: ant_path_matcher
    format:
      date: yyyy-MM-dd HH:mm:ss # date format
      time: HH:mm:ss # time format
      date-time: yyyy-MM-dd HH:mm:ss # date-time format
  jackson:
    time-zone: GMT+8
    date-format: yyyy-MM-dd HH:mm:ss
  main:
    allow-circular-references: true
  servlet:
    multipart:
      enabled: true
      max-file-size: 524288000
      max-request-size: 524288000

  cache:
    type: simple
    # If type is configured as redis, this item can be configured as needed, note: Pay attention to the indentation of this configuration item
    #    redis:
    #      # Whether to cache empty values, save the default
    #      cache-null-values: false
    #      # Cache expiration time, default 24 hours
    #      time-to-live: 86400

#  redis:
#     host: localhost
#     port: 6379
#     password:
#     database: 10
#     jedis:
#       pool:
#         # The maximum number of connections in the connection pool (use a negative value to indicate no limit)
#         max-active: 50
#         # The maximum blocking waiting time of the connection pool (use a negative value to indicate no limit)
#         max-wait: 3000
#         # The maximum number of idle connections in the connection pool
#         max-idle: 20
#         # The minimum number of idle connections in the connection pool
#         min-idle: 5
#     # Connection timeout (milliseconds)
#     timeout: 5000

mybatis-plus:
  mapper-locations: classpath:/mapper/*Mapper.xml
  typeAliasesPackage: org.dinky.model
  global-config:
    db-config:
      id-type: auto
      logic-delete-field: is_delete
      logic-delete-value: 1
      logic-not-delete-value: 0
    banner: false
  configuration:
    log-impl: org.apache.ibatis.logging.nologging.NoLoggingImpl
  type-handlers-package: org.dinky.data.typehandler
sms:
  is-print: false
sa-token:
  timeout: 36000
  active-timeout: 1800
  is-concurrent: false
  is-share: true
  token-style: uuid
  is-log: false
  is-print: false
  jwt-secret-key: 0DA4198858E84F1AADDF846340587A85
  is-write-header: true
  is-read-header: true
  token-name: token
knife4j:
  enable: true
  setting:
    language: en

crypto:
  enabled: false
  encryption-password:
